@model SiteDecoration
<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <title>@Model.SiteTitle()</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">

    <link rel="dns-prefetch" href="//arcgis.com" />
    <link defer rel="stylesheet" href="https://js.arcgis.com/4.14/esri/css/main.css">
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

    <!-- bower:css -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
</head>
<body>

    <div id="application-area">
    </div>

    <script type="text/javascript" src="~/js/index.js?fxy" asp-append-version="true"></script>

    @*<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
            <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

        <script>'serviceWorker' in navigator && navigator.serviceWorker.register('/serviceworker')</script>*@
</body>
</html>